header {
  position: relative;
  min-height: 59vw;
  background-color: $secondary;
  .header-overlay {
    text-align: center;
    position: absolute;
    z-index: 2;
    width: 100%;
    h1 {
      font-size: 6vw;
      transform: translateY(20vw);
      color: $white;
      letter-spacing: 0.45rem;
      font-weight: 700;
    }
  }
  img {
    display: block;
    position: absolute;
    overflow: visible;
    z-index: 1;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    opacity: 0;
    &.loaded {
      opacity: 1;
      transition: opacity 1s linear;
    }
  }
}
