nav {
  background-color: $primary;
  display: flex;
  flex-wrap: wrap;
  position: relative;
  z-index: 10;
  .logo {
    width: 100px;
  }
  .nav-toggle {
    display: none;
  }
  ul {
    margin: 0;
    padding: 0;
    list-style-type: none;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    li {
      flex: 1;
      padding: 28px 20px;
      text-align: center;
      a {
        display: block;
        color: $white;
        text-decoration: none;
      }
      &.active {
        a {
          text-decoration: underline;
        }
      }
    }
  }
}
@media only screen and (max-width: 600px) {
  nav.js {
    .nav-toggle {
      display: inherit;
    }
    ul {
      display: none;
      position: absolute;
      z-index: 1;
      top: 76px;
      background-color: $primary;
      &.expanded {
        width: 100%;
        display: inherit;
      }
      li {
        width: 100%;
        flex: none;
      }
    }
  }
}
