section {
  .section-content {
    display: flex;
    text-align: center;
    max-width: 100rem;
    margin: auto;
    > div {
      flex: 1;
      padding: 20px;
      img {
        width: 100%;
      }
    }
  }
  &.text-align-left {
    .section-content {
      text-align: left;
      h1,
      h2,
      h3,
      h4,
      h5,
      h6 {
        text-align: center;
      }
    }
  }
  &.reverse {
    .section-content {
      flex-direction: row-reverse;
    }
  }
  &.primary {
    background-color: $primary;
    color: $white;
  }
  &.secondary {
    background-color: $secondary;
    color: $white;
  }
  &.contrast {
    background-color: $contrast;
    color: $white;
  }
}
@media only screen and (max-width: 600px) {
  section {
    .section-content {
      display: flex;
      flex-direction: column !important;
    }
  }
}
