html {
  font-size: 62.5%;
}
h1 {
  font-size: 6rem;
  line-height: 1.167;
}
h2 {
  font-size: 3.75rem;
  line-height: 1.2;
}
h3 {
  font-size: 3rem;
  line-height: 1.167;
}
h4 {
  font-size: 2.125rem;
  line-height: 1.12;
}
body {
  font-size: 1.8rem;
}
