{{ partial "navbar.html" . }}
<header>
  <div class="header-overlay">
    <h1>{{ .Title }}</h1>
  </div>
  {{ if .Params.header_image }}
    {{ $img := .Page.Resources.GetMatch ( .Params.header_image ) }}

    {{ .Scratch.Set "20" ($img.Resize "20x") }}
    {{ .Scratch.Set "480" ($img.Resize "480x") }}
    {{ .Scratch.Set "736" ($img.Resize "736x") }}
    {{ .Scratch.Set "980" ($img.Resize "980x") }}
    {{ .Scratch.Set "1280" ($img.Resize "1280x") }}
    {{ .Scratch.Set "1690" ($img.Resize "1690x") }}
    {{ .Scratch.Set "2000" ($img.Resize "2000x") }}

    {{ $20 := .Scratch.Get "20" }}
    {{ $480 := .Scratch.Get "480" }}
    {{ $736 := .Scratch.Get "736" }}
    {{ $980 := .Scratch.Get "980" }}
    {{ $1280 := .Scratch.Get "1280" }}
    {{ $1690 := .Scratch.Get "1690" }}
    {{ $2000 := .Scratch.Get "2000" }}
    <img class="img-small loaded" src="{{ $20.RelPermalink }}">
    <img
      srcset="{{ $480.RelPermalink }} 480w,
              {{ $736.RelPermalink }} 736w,
              {{ $980.RelPermalink }} 980w,
              {{ $1280.RelPermalink }} 1280w,
              {{ $1690.RelPermalink }} 1690w,
              {{ $2000.RelPermalink }} 2000w"
      sizes="(max-width: 481px) 480px,
              (max-width: 737px) 736px,
              (max-width: 981px) 980px,
              (max-width: 1281px) 1280px,
              (max-width: 1691px) 1690px,
              2000px"
      src="{{ $2000.RelPermalink }}"
      alt=""
      class="img-large loaded"
    />
{{ end }}
</header>
