<!DOCTYPE html>
<html lang="en">
  <head>
    {{ partial "meta.html" . }}
    {{ partial "seo-schema" . }}
    <title>{{ .Title }} - {{ .Site.BaseURL }}</title>
    <link rel="canonical" href="{{ .Permalink }}" />

    {{ $cssOpts := (dict "targetPath" "styles/main.css" ) }}
    {{ $style := resources.Get "scss/main.scss" | toCSS $cssOpts | minify | fingerprint }}
    <link rel="stylesheet" href="{{ $style.Permalink }}" integrity="{{ $style.Data.Integrity }}" media="screen">


    {{ $photoswipeJs := resources.Get "js/load-photoswipe.js" | minify | fingerprint }}
    <script src="{{ $photoswipeJs.Permalink }}" integrity="{{ $photoswipeJs.Data.Integrity }}" async></script>

    {{ $nav := resources.Get "js/nav.js" }}
    {{ $header := resources.Get "js/header.js" }}
    {{ $bundleJs := slice $nav $header | resources.Concat "js/bundle.js" | minify | fingerprint }}
    <script src="{{ $bundleJs.Permalink }}" integrity="{{ $bundleJs.Data.Integrity }}" async></script>

    <!-- Photoswipe css/js libraries -->
    <link
      async
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/photoswipe/4.1.1/photoswipe.min.css"
      integrity="sha256-sCl5PUOGMLfFYctzDW3MtRib0ctyUvI9Qsmq2wXOeBY="
      crossorigin="anonymous"
    />
    <link
      async
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/photoswipe/4.1.1/default-skin/default-skin.min.css"
      integrity="sha256-BFeI1V+Vh1Rk37wswuOYn5lsTcaU96hGaI7OUVCLjPc="
      crossorigin="anonymous"
    />
    <script
      async
      src="https://cdnjs.cloudflare.com/ajax/libs/photoswipe/4.1.1/photoswipe.min.js"
      integrity="sha256-UplRCs9v4KXVJvVY+p+RSo5Q4ilAUXh7kpjyIP5odyc="
      crossorigin="anonymous"
    ></script>
    <script
      async
      src="https://cdnjs.cloudflare.com/ajax/libs/photoswipe/4.1.1/photoswipe-ui-default.min.js"
      integrity="sha256-PWHOlUzc96pMc8ThwRIXPn8yH4NOLu42RQ0b9SpnpFk="
      crossorigin="anonymous"
    ></script>
  </head>
</html>
