<nav role="navigation">
  <a href="/home">
    <img
      class="logo"
      srcset="/images/logo-100w.png, /images/logo-200w.png 2x"
      src="/images/logo-200w.png"
      alt="12 acres logo"
    />
  </a>
  <span class="spacer"></span>
  <button class="btn btn-default nav-toggle">Menu</button>
  <ul class="nav">
    {{ $currentPage := . }}
    {{ range .Site.Menus.main }}
    <li class="{{if or ($currentPage.IsMenuCurrent "main" .) ($currentPage.HasMenuCurrent "main" .) }}active{{end}}"><a href="{{ .URL }}" title="{{ .Title }}">{{ .Name }}</a></li>
    {{ end }}
  </ul>
</nav>
