<section class='{{ .Get "class" }}'>
  <div class="section-content">
    <div>{{ .Inner | markdownify }}</div>
    {{ if .Get "img" }}
    {{ $img := .Page.Resources.GetMatch ( .Get "img" ) }}

    {{ if $img }}
    <div>
      {{ .Scratch.Set "480" ($img.Resize "480x") }}
      {{ .Scratch.Set "736" ($img.Resize "736x") }}
      {{ .Scratch.Set "980" ($img.Resize "980x") }}
      {{ .Scratch.Set "1000" ($img.Resize "1000x") }}

      {{ $480 := .Scratch.Get "480" }}
      {{ $736 := .Scratch.Get "736" }}
      {{ $980 := .Scratch.Get "980" }}
      {{ $1000 := .Scratch.Get "1000" }}
      <img
        srcset="{{ $480.RelPermalink }} 480w,
                {{ $736.RelPermalink }} 736w,
                {{ $980.RelPermalink }} 980w,
                {{ $1000.RelPermalink }} 1000w"
        sizes="(max-width: 481px) 480px,
                (max-width: 737px) 736px,
                (max-width: 981px) 980px,
                1000px"
        src="{{ $1000.RelPermalink }}"
        alt=""
      />
      </div>
      {{ end }}
    {{ end }}
  </div>
</section>
